@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "BookList";
}

<h4>Book List</h4>
<hr />
<br>
<div id="ValidationErrors" class="text-danger"></div>
<table class="table table-dark table-hover table-background-black">
    <thead class="thead-dark thead-aqua">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Author
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td id="@("Stock" + @item.Id)">
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    <a asp-controller="BookOperation" asp-action="Index" asp-route-id="@item.Id"><i class="btn btn-outline-dark">History</i></a>
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id"><i class="btn btn-outline-info">Edit</i></a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="btn btn-outline-danger">Delete</i></a>
                    <a class="RentButton" value="@item.Id" action="Rent"><i class="btn btn-outline-warning">Rent</i></a>
                    <a class="ReturnButton" value="@item.Id" action="Return"><i class="btn btn-outline-secondary">Return</i></a>
                </td>
            </tr>
        }
    </tbody>


</table>
<a asp-controller="Book" asp-action="Add"><i class=" btn btn-dark " style="color: aqua; border-bottom-color:aqua">Add New Book</i></a>

<script type="text/javascript">

    $(".RentButton, .ReturnButton").on("click", function () {
        var self = $(this);
        var bookId = self.attr("value");
        var action = self.attr("action");
        rentOrReturnAction(bookId, action);
    })

    var rentOrReturnAction = function (bookId, action) {
        var url = "/Book/" + action;
        $.ajax({
            type: "POST",
            url: url,
            datatype: "json",
            data: {
                id: bookId
            },
            success: function (result) {
                updateStock(result, bookId);
            },
            error: function (xhr) {
                //TODO: crear una funcion global que muestre errores
                $('#ValidationErrors').html(xhr.responseJSON.error);
            }
        })
    }

    var updateStock = function (stock, bookId) {
        $('#Stock' + bookId).html(stock);
    }



</script>

