@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "BookList";
}

<h4 style="color:aqua">Book List</h4>
<hr />
<br>

<body style="background-color:black">

    <table class="table table-dark table-hover" style="background-color:black">
        <thead class="thead-dark">
            <tr>
                <th style="color:aqua">
                    Name
                </th>
                <th style="color:aqua">
                    Price
                </th>
                <th style="color:aqua">
                    Stock
                </th>
                <th style="color:aqua">
                    Author
                </th>
                <th style="color:aqua">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id"><i class="btn btn-outline-info">Edit</i></a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="btn btn-outline-danger">Delete</i></a>
                        <a asp-controller="Book" asp-action="Alquilar" asp-route-id="@item.Id"><i class="btn btn-outline-warning">Alquilar</i></a>
                        <a asp-controller="Book" asp-action="Devolver" asp-route-id="@item.Id"><i class="btn btn-outline-secondary">Devolver</i></a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
    <a asp-controller="Book" asp-action="Add"><i class=" btn btn-dark " style="color: aqua; border-bottom-color:aqua">Add New Book</i></a>
</body>


